
    <div class="header">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-8">
    				<img src="images/rubizza.jpg"/>
    				<h1>SHAWARMAS</h1>
    			</div>
    			<div class="col-md-4">
    				<ul class="nav nav-pills pull-right">
    					<li class="active"><a href="/">return</a></li>
    					<li>
                <a href="/logout">Logout</a>
              </li>
    				</ul>
    			</div>
    		</div>
    	</div>
    </div>
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1523.5369400437396!2d27.58185397927588!3d53.92081416634471!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa1dde0c9f9804ab5!2sGustoza+Pizza!5e0!3m2!1sru!2sby!4v1499882763641" class="center-block" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
