<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SHAWARMAS PROJECT</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--<link href="sass/jquery-ui.min.css" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body style="overflow-y: scroll;">
    <div class="header">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6">
    				<img src="images/rubizza.jpg"/>
    				<h1>SHAWARMAS</h1>
    			</div>
    			<div class="col-md-6">
    				<ul class="nav nav-pills pull-right">
              <%= @profile.each { |user| user['first_name'] } %>
    				</ul>
    			</div>
    		</div>
    	</div>
    </div>
    <div class="jumbotron">
        	<div class="container">
        		<div class="row">
        			<div class="col-md-4">
        				<a href="/hasan">
                            <div class="box" id="hasan">
        					              <h1>У Хасана</h1>
                                <div class='content'>
                                </div>
        				    </div>
                        </a>
        			</div>
        			<div class="col-md-4">
        				<a href="/gustoza">
                            <div class="box" id="gustoza">
                                <h1>Gustoza Pizza</h1>
                                <div class='content'>
                                </div>
                            </div>
                        </a>
        			</div>
        			<div class="col-md-4">
        				<a href="/stolica">
                            <div class="box" id="stolica">
        					   <h1>Столица</h1>
                                <div class='content'>
                                </div>
                            </div>
                </a>
        			</div>
        		</div>
        	</div>
    </div>
  </body>
</html
