<div class="jumbotron">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-4">
    				<a href="#!/security">
                        <div class="box" id="secure">
    					<h1>1</h1>
                            <div class='content'>
                                <p>ляляля тополя</p>
                            </div>
    				    </div>
                    </a>
    			</div>
    			<div class="col-md-4">
    				<a href="#!/fire">
                        <div class="box" id="fire">
                            <h1>2</h1>
                            <div class='content'>
                                    <p>ляляля тополя</p>
                            </div>
                        </div>
                    </a>
    			</div>
    			<div class="col-md-4">
    				<a href="#!/surveillance">
                        <div class="box" id="surveillance">
    					   <h1>3</h1>
                            <div class='content'>
                                <p>ляляля тополя</p>
                            </div>
                        </div>
                    </a>
    			</div>
    		</div>
    	</div>
 <!-- Лишние куски витрины  
    	<div class="container">
    		<div class="row">
    			<div class="col-md-4">
    				<a href="#!/skud">
                        <div class="box" id="access">
    					<h1>4</h1>
    				    </div>
                    </a>
    			</div>
    			<div class="col-md-4">
    				<a href="#!/montage">
                        <div class="box" id="montage">
    					<h1>5</h1>
    				    </div>
                    </a>
    			</div>
    			<div class="col-md-4">
    				<a href="#!/repair">
                        <div class="box" id="repair">
    					<h1>6</h1>
    				    </div>
                    </a>
    			</div>
    		</div>
    	</div>
-->
</div>