
    <div class="header">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-8">
    				<img src="images/rubizza.jpg"/>
    				<h1>SHAWARMAS</h1>
    			</div>
    			<div class="col-md-4">
    				<ul class="nav nav-pills pull-right">
    					<li class="active">
              <a href="https://oauth.vk.com/authorize?client_id=6109521&display=page&redirect_uri=https://shawarmas.herokuapp.com/login&scope=friends&response_type=code&v=5.67">LOGIN</a>
              </li>
    				</ul>
    			</div>
    		</div>
    	</div>
    </div>
