<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SHAWARMAS PROJECT</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--<link href="sass/jquery-ui.min.css" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body style="overflow-y: scroll;">
    <div class="header">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-8">
    				<img src="images/rubizza.jpg"/>
    				<h1>SHAWARMAS</h1>
    			</div>
    			<div class="col-md-4">
    				<ul class="nav nav-pills pull-left">
    					<li class="active"><a href="/index">return</a></li>
    				</ul>
    			</div>
    		</div>
    	</div>
    </div>
    <div class="jumbotron">
        	<div class="container">
        		<div class="row">
        		</div class="center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1614.1291354200773!2d27.58170945149502!3d53.92086684132732!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa1dde0c9f9804ab5!2sGustoza+Pizza!5e0!3m2!1sru!2sby!4v1499862943647" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
        		</div>
        	</div>
    </div>
  </body>
</html>
