h1 {
  position: relative;
  top: 30px;
  left: 10px;
  display: inline-block;
  color: #fff;
  opacity: .5;
  padding: 0 auto;
  margin: 0 auto;
  font-weight: 600;
  font-size: 45px; }

@font-face {
  font-family: PoiretOne;
  src: url(./fonts/PoiretOne-Regular.ttf); }
@font-face {
  font-family: glyphicons-halflings-regular;
  src: url(./fonts/glyphicons-halflings-regular.ttf); }
@font-face {
  font-family: TenorSans;
  src: url(./fonts/TenorSans-Regular.ttf); }
@font-face {
  font-family: Nova;
  src: url(./fonts/proximanova-light-webfont.woff); }
@font-face {
  font-family: NovaReg;
  src: url(./fonts/proximanova-reg-webfont.woff); }
@font-face {
  font-family: NovaBold;
  src: url(./fonts/proximanova-bold-webfont.woff); }
html, body {
  background: url(../images/shaverma.jpg) center center no-repeat fixed;
  background-size: cover; }

.header {
  background-color: rgba(0, 0, 0, 0.2); }
  .header img {
    display: inline-block;
    width: 65px; }
  .header .nav {
    padding: 0;
    display: inline-block; }
  .header li.active a {
    background-color: #33b7b2;
    opacity: .5;
    color: #fff; }
  .header li.active a:hover {
    background-color: #33b7b2;
    color: white;
    cursor: pointer;
    opacity: 1;
    transition: background-color 1s;
    transition: opacity 1s; }
  .header li a {
    width: 120px;
    text-align: center;
    border: none;
    border-radius: 0px;
    padding-top: 45px;
    padding-bottom: 0px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 600;
    font-size: 1.2em;
    opacity: 0.5; }
    .header li a:hover, .header li a:active {
      background-color: #33b7b2;
      color: white;
      cursor: pointer;
      opacity: 1;
      transition: background-color 0.5s;
      transition: opacity 0.5s; }

.jumbotron {
  background-color: transparent;
  margin-bottom: 0px;
  padding-bottom: 0px; }
  .jumbotron h1 {
    opacity: 1; }
  .jumbotron a {
    text-decoration: none; }
  .jumbotron .box {
    margin: 10px;
    background-color: #e6e2df;
    height: 600px;
    color: #b2aaa4;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    background-repeat: none; }
    .jumbotron .box .content {
      font-family: "TenorSans", cursive;
      position: relative;
      top: 19.6%;
      height: 70%;
      display: none;
      background: #f4f4f4; }
  .jumbotron h5 {
    display: inline-block; }

#hasan {
  background-image: url("../images/hasan.jpg");
  background-position: 0px 0px; }
  #hasan:hover {
    background-position: -100px 0px;
    color: black;
    opacity: 0.8; }
    #hasan:hover h1 {
      text-shadow: -1px 0 #666666, 0 1px #666666, 1px 0 #666666, 0 -1px #666666; }
    #hasan:hover div {
      text-shadow: none; }

#gustoza {
  background-image: url("../images/gustoza.jpg");
  background-position: 0px 0px; }
  #gustoza:hover {
    background-position: -100px 0px;
    color: black;
    opacity: 0.8; }
    #gustoza:hover h1 {
      text-shadow: -1px 0 #666666, 0 1px #666666, 1px 0 #666666, 0 -1px #666666; }
    #gustoza:hover div {
      text-shadow: none; }

#stolica {
  background-image: url("../images/stolica.jpg");
  background-position: 0px 0px;
  background-size: cover; }
  #stolica:hover {
    background-position: -100px 0px;
    color: black;
    opacity: 0.8; }
    #stolica:hover h1 {
      text-shadow: -1px 0 #666666, 0 1px #666666, 1px 0 #666666, 0 -1px #666666; }
    #stolica:hover div {
      text-shadow: none; }

.footer {
  color: #fff;
  padding: 30px 0; }

/*# sourceMappingURL=main.css.map */
