@font-face {
	font-family: PoiretOne;
	src: url(./fonts/PoiretOne-Regular.ttf);
}
@font-face {
	font-family: glyphicons-halflings-regular;
	src: url(./fonts/glyphicons-halflings-regular.ttf);
}
@font-face {
	font-family: TenorSans;
	src: url(./fonts/TenorSans-Regular.ttf);
}
@font-face {
	font-family: Nova;
	src: url(./fonts/proximanova-light-webfont.woff);
}
@font-face {
	font-family: NovaReg;
	src: url(./fonts/proximanova-reg-webfont.woff);
}
@font-face {
	font-family: NovaBold;
	src: url(./fonts/proximanova-bold-webfont.woff);
}